<!-- ** Sign up new page ** -->

<div class="col-md-1"></div>

<body class="signup-bg">

	<div class="signup-container white-txt col-md-2">
		<h1 class="text-center">Sign up</h1>
		<br>

		<%= form_for @user do |f| %>

			<strong>Name: </strong>
			<%= f.text_field :name, class: 'form-control' %>

			<strong>Email: </strong>
			<%= f.text_field :email, class: 'form-control' %>

			<strong>Password: </strong><br>
			<%= f.password_field :password, class: 'form-control' %>

			<strong>Confirm Password: </strong>
			<%= f.password_field :password_confirmation, class: 'form-control' %>
			<br>
			<%= f.submit "Sign Up", class: 'btn btn-info center-block' %>

		<% end %>
	</div>

</body>



