<!DOCTYPE html>
<html>
<head>
  <title>TrackAMobile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="text-right">
		<% if current_user %>
			<%= current_user.name %>
			<%= link_to 'Log out', logout_path, class: 'btn btn-default' %>
		<% else %>
			<%= link_to 'Log in ', login_path, class: 'btn btn-primary' %>
			<%= link_to 'Sign up', signup_path, class: 'btn btn-primary' %>
			<%= link_to 'Home', cars_path, class: 'btn btn-primary' %>
		<% end %>
	</div>

	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>" role="alert">
			<%= value %>
		</div>
	<% end %>

<%= yield %>

</body>
</html>
